body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.badge{
    background: #D2312D;
    color: #FFF;
    font-size: 10px;
    font-weight: normal;
    height: 16px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: -8px;
    top: -3px;
    }

.badge-booko{
    position: absolute;
    right: -6px;
    top: -10px;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size : 12px;
    font-weight : 700;
    border : 1px solid white;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: white;
    background: #1c684b;
}

.cart-booko{
    width : 40px;
    color : #1c684b;
    font-size : 16px;
    font-weight : normal;
    display : flex;
    justify-content : center;
    align-items : center;
    vertical-align: middle;
}
.cart-booko-btn {
    cursor : pointer;
    position: relative;
}
.separator-booko{
    margin: auto 10px;
    width: 2px;
    height: 50px;
    background : #f6f6f6;
    position: relative;
}

.section-title{
    font-size : 24px;
    font-weight : 700;
    color : #1c684b;
    text-transform: capitalize;
}
.products {
    padding: 4rem 0;
}
.section-title h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: #1c684b;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    color: white;
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 15rem;
    max-height: 18rem;
    transition: all 0.3s linear;
}
.img-container:hover .product-img {
    opacity: 0.5;
}

.product h4 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: left;
    font-weight: 600;
}

.product p{
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    color: #afafaf;
    text-align: left;
    font-weight: 500;
}

.product h5 {
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    color: #d6340c;
    text-align: left;
    font-weight: 600;
}

.product   a {
    text-decoration: none;
    color: #1c684b;
}

.product-custom{
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
}

.product-image-booko{
    max-width: 100%;
    height: auto;
    max-height: 545px;
}

.dropdown-multicol2{
    min-width: 35em;
    max-width: 50em;
}

.dropdown-multicol2 .dropdown-col{
    display:inline-block;
    width: 23%;
  }

.section-post{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-post a{
    color:#d6340c;
    font-weight: 600;
}

.section-post a:hover{
    color:#1c684b;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active{
    font-weight: 600;
    color: #d6340c;
}

.carousel-control-prev:hover {
    background-image: linear-gradient(to right, #1c684b, transparent);
}
.carousel-control-next:hover {
    background-image: linear-gradient(to left, #1c684b, transparent);
}

.bg-transparent-booko{
    background: transparent;
}

.btn-search-booko{
    z-index: 5;
    position: relative;
    left: -38px;
}

.input-group-booko{
    width: 350px;
    right: -38px;
    
}

.input-search-booko{
    border-radius: 40px !important;
}

.popular-category{
    color: white;
}

.popular-category:hover{
    color: white;
    filter: grayscale(60%);
}

.category-links a:hover{
    text-decoration: none;
}

.text-booko-primary{
    color: #1c684b;
}

.text-booko-secondary{
    color: #d6340c;
}

.badge-stock{
    position: relative;
    right: 0;
    background: #28a745;
}
.badge-stock-out{
    position: relative;
    right: 0;
    background: #6c757d;
}

.badge-stock-limit{
    position: relative;
    right: 0;
    background: #f0b70c;
}

.btn-qty-booko{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin: 0 20px;
    background-color: #28a745;
    color: white;
    outline: none;
}


.btn-qty-booko:active{
    text-decoration: none;
    border: none;
    outline: none;
}
.btn-qty-booko:focus{
    text-decoration: none;
    border: none;
    outline: none;
}

.btn-qty-limit{
    cursor: not-allowed;
    outline: none;
}

