body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.badge{
    background: #D2312D;
    color: #FFF;
    font-size: 10px;
    font-weight: normal;
    height: 16px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: -8px;
    top: -3px;
    }

.badge-booko{
    position: absolute;
    right: -6px;
    top: -10px;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size : 12px;
    font-weight : 700;
    border : 1px solid white;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: white;
    background: #1c684b;
}

.cart-booko{
    width : 40px;
    color : #1c684b;
    font-size : 16px;
    font-weight : normal;
    display : flex;
    justify-content : center;
    align-items : center;
    vertical-align: middle;
}
.cart-booko-btn {
    cursor : pointer;
    position: relative;
}
.separator-booko{
    margin: auto 10px;
    width: 2px;
    height: 50px;
    background : #f6f6f6;
    position: relative;
}

.section-title{
    font-size : 24px;
    font-weight : 700;
    color : #1c684b;
    text-transform: capitalize;
}
.products {
    padding: 4rem 0;
}
.section-title h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: #1c684b;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    color: white;
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 15rem;
    max-height: 18rem;
    transition: all 0.3s linear;
}
.img-container:hover .product-img {
    opacity: 0.5;
}

.product h4 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: left;
    font-weight: 600;
}

.product p{
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    color: #afafaf;
    text-align: left;
    font-weight: 500;
}

.product h5 {
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    color: #d6340c;
    text-align: left;
    font-weight: 600;
}

.product   a {
    text-decoration: none;
    color: #1c684b;
}

.product-custom{
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
}

.product-image-booko{
    max-width: 100%;
    height: auto;
    max-height: 545px;
}

.dropdown-multicol2{
    min-width: 35em;
    max-width: 50em;
}

.dropdown-multicol2 .dropdown-col{
    display:inline-block;
    width: 23%;
  }

.section-post{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-post a{
    color:#d6340c;
    font-weight: 600;
}

.section-post a:hover{
    color:#1c684b;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active{
    font-weight: 600;
    color: #d6340c;
}

.carousel-control-prev:hover {
    background-image: linear-gradient(to right, #1c684b, transparent);
}
.carousel-control-next:hover {
    background-image: linear-gradient(to left, #1c684b, transparent);
}

.bg-transparent-booko{
    background: transparent;
}

.btn-search-booko{
    z-index: 5;
    position: relative;
    left: -38px;
}

.input-group-booko{
    width: 350px;
    right: -38px;
    
}

.input-search-booko{
    border-radius: 40px !important;
}

.popular-category{
    color: white;
}

.popular-category:hover{
    color: white;
    filter: grayscale(60%);
}

.category-links a:hover{
    text-decoration: none;
}

.text-booko-primary{
    color: #1c684b;
}

.text-booko-secondary{
    color: #d6340c;
}

.badge-stock{
    position: relative;
    right: 0;
    background: #28a745;
}
.badge-stock-out{
    position: relative;
    right: 0;
    background: #6c757d;
}

.badge-stock-limit{
    position: relative;
    right: 0;
    background: #f0b70c;
}

.btn-qty-booko{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin: 0 20px;
    background-color: #28a745;
    color: white;
    outline: none;
}


.btn-qty-booko:active{
    text-decoration: none;
    border: none;
    outline: none;
}
.btn-qty-booko:focus{
    text-decoration: none;
    border: none;
    outline: none;
}

.btn-qty-limit{
    cursor: not-allowed;
    outline: none;
}

.image-cart-booko{
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 10px;
}

.cart-link-title{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.cart-link-title:hover{
    text-decoration: none;
}

.cart-count-order{
    bottom: 0;
    right: 0;
}

.checkbox-booko{
    width: 20px;
    height: 20px;
}

.checkbox-booko-set input:checked{
    background-color: #28a745;
  }

.btn-link-booko a:hover{
    text-decoration: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
    padding: 10px;
    padding-left: 15px;
    width: 100%;
    height: 120px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-bottom: 5px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: capitalize;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
    background-color: white;
    color:#1b5f1b;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border-radius: 4px;
    border-color:  #408240;
	background-image: linear-gradient(324deg, rgb(133, 157, 83), rgb(102, 179, 186));
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: #1c684b;
	color: white;
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.status-booko a {
    color: #3490dc;
    border: 2px solid #3490dc !important;
}

.status-booko-list {
    font-size: 12px;
    line-height: 18px;
}

.card-booko-transaction{
    border-radius: 15px;
}

.side-bar-booko{
    height: 100vh;
    background-color: darkslategray;
    color: white;
}

/* Admin Section */
#wrapper{
    width: 100vw;
}

/* Sidebar */
#sidebar-wrapper{
    z-index: 100;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    background-color: darkslategray;
}

#wrapper.menu-displayed #sidebar-wrapper{
    width: 250px;
}

#wrapper.menu-displayed .page-content-wrapper{
    padding-left: 250px;
}

.sidebar-nav-booko{
    padding: 0;
    list-style: none;
}
.sidebar-nav-booko .nav-li-booko{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav-booko .nav-li-booko a{
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav-booko li a:hover{
    background: #28a745;
}

.sidebar-header-booko{
    width: 100%;
}


/* Main Content */
.page-content-wrapper{
    width: 100%;
    position: relative;
    padding: 15px;
    background: white;
}

.image-product-admin{
    min-width: 100px;
}

.card-admin-booko{
    border-radius: 15px;
    min-width: 150px;
    width: 380px;
    height: 100px;
    padding: 10px 0;
    color: white;
    background: #2b2b2b;
}

.card-admin-booko .img-wrapper{
    width: 70px;
    height: 70px;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}